{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}

<div class="page-content-wrapper ">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title m-0">ORDERS</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right d-none d-md-block">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ti-settings mr-1"></i> Options
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                        <a class="dropdown-item" href="#">Export PDF</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Export Excel</a>
                                       
                                        
                                        
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end page-title-box -->
            </div>
        </div> 
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <table id="datatable" class="table table-striped table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                       
                                   <thead>
                            <tr>
                                <th scope="col">Order ID.</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Book</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                               
                                
                            </tr>
                            </thead>


                            <tbody>
                    {% for order in orders %} 
                            <tr>
                                

                                        <th scope="row">#{{order.order_id}}</th>
                                        <td>{{order.order_date}}</td>
                                        <td>{{order.name}}</td>
                                        <td>{{order.title}}</td>
                                       
                                        <td>{{order.quantity}}</td>
                                        <td> {{ order.quantity|mul:order.price }}</td>
                                        <td><span class="badge badge-warning">{{order.order_status}}</span> </td>
                                        
                                
                            </tr>
                            
                    {% endfor %} 
                            
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->            

    </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->



  {% endblock content %}